openai>=1.0
python-dotenv
beautifulsoup4
argparse
fastapi
httpx
markdownify
numpy
semantic-text-splitter
tqdm
uvicorn
google-genai
google-generativeai
pillow
html2text
sentence-transformers
